# App Server Port
API_PORT=3000

# Rate Limiting
RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX_REQUESTS=50

# RabbitMQ Credentials
RABBITMQ_USER=guest
RABBITMQ_PASS=guest

# MongoDB Credentials
MONGO_USER=user
MONGO_PASSWORD=password
MONGO_DB=activity_db

# Local Host URLs (For running outside Docker locally)
RABBITMQ_URL=amqp://guest:guest@localhost:5672
DATABASE_URL=mongodb://user:password@localhost:27017/activity_db?authSource=admin
